
html, body {  
    margin:0;  
    padding: 0;
    height:100%;  
    background: rgb(110,145,164);
    background: linear-gradient(90deg, rgba(110,145,164,1) 31%, rgba(146,154,156,1) 78%);
    font-family: 'Roboto', Arial, sans-serif;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  i {
      cursor: pointer;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
      background-color: #04AA6D;
    }
  

table{  
    height: 625px;
    width: 100%;
    margin-top: 5px;
}

label{
    display: none;
}

th {
    max-width: 25px;
}

.containerButtons{
    margin: 5px;
    display: none;
    justify-content: space-between;
}


.bodyTables, th {
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    margin: 15px;
    word-wrap: break-word;
    transition: all 0.1s;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);  
    color: white;
    align-content: center;
    
}



.titleColumn, td{
    height: 2%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    max-width: 50px; 
    Word-wrap: break-Word;

}

.titleInsideColumn{
    text-align: center;
    color: rgb(105, 96, 96);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
}

@media screen and (max-width: 850px) {

    table {
        width:100%;
    }

    label{
        display: inline;
    }

    .bodyTables, th {
    word-wrap: break-word;
    max-width: 500px;
    height:90%;
    display: block;
    text-align:center;   
    margin: 0px;
    margin-bottom: 15px;
    }

    .titleColumn, td{
        display: none
    }

    .stickyContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
        margin: 0px;
    }

    .stickyNote {
        margin: 0px;
        width: 50px;
        height: 50px;
    }


}


.stickyContainer{
    height: 95%;
    width: 95%;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: grid;
    justify-content: center;
}


.dragOver{
    border: 2px dashed grey;
    border-radius: 10px;
}



.stickyNote{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius:0 0 0 30px/45px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.50 );
    cursor: grab;

}

.stickyNote:hover{
    transform: scale(1.05);
}

.stickyDescription{
    width: 90%;
    height: 90%;
    margin: auto;
    overflow: hidden;
}


.desc{
    color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS', 'Comic Sans';
    font-size: 15px;
    cursor: text;
}